*{
    margin: 0px;
    padding: 0px;
}
.container{
  background-color: #c0b0abe0;  
   width: 100%;
  height: 100vh;
}

.container1{
    display: flex;
     height: 60vh;
  
}
 .container1 .image{
    height:100vh; 
    margin-left: 7%;
    background: none;
    width: 50%;
    
 }
 .container1 .about{
   box-sizing: content-box;
    margin-top: 4rem;
    padding-right: 8%;
    width: 50%;
    height: 60%;
    padding-left: 5%;
    display: block;
    
 }
 .container1 .about h2{
  margin-top: 1rem;
 }
 .container1 .about p{
    margin-top: 1.5rem;
   
    font-size: 20px; 
 }
 .container1 button{
    margin-top: 2rem;
    color: white;
     height: 40px;
     width: 120px;
    background-color: black;
    border-radius: 5px;
 }

 .container2{
    padding-top: 4rem;
    width: 100%;
    height:40vh;
    display: flex;
   justify-content: space-evenly;
  
 }
 .container2 .call ,.location,.hours{
    margin-top: 2rem;
    margin-left: 3rem;
    height: 150px;
    width: 25%;
    background-color: rgb(240, 117, 72);
    border-radius: 15px;
 }
 .container2 .call p , .location p, .hours p{
   padding-top: 0.5rem;
   padding-left: 1.5rem;
   color: rgb(235, 227, 227);

 }
 .container2 .call i,.location i,.hours i{
   margin-bottom: 1rem;
   padding-top: 1.8rem;
   padding-left: 1.5rem;
   color: aliceblue;
 }

 @media ( max-width:450px){
    .container2{
      display:block;   
      padding-top: 1rem; 
      height: 90%;
    }
    .container2 .call  , .location , .hours {
     width: 80%;
     margin-top: 1rem;
    }
    .container{
      width: 100%;
    }
 }
 

 @media(max-width:850px){
   .container1{
      display: block;
      height: 80%;
   }
   .container1 .image{
      width: 100%;
      height: 50%;
   }
   .container1 .about{
      width: 100%;
   }
   .container{
      height: 100%;
      width: 100%;
   }
 }

 
 